<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<script>
	var vm;
	console.log('hoho');
	//import Vue from 'vue';
	
	form_data = {
				custom_domain: 'no',
				domain : '',
				company_name: '',
				company_brn: '',
				contact_email: '',
				contact_name: ''
			}
	
	window.onload = function() {
		vm = new Vue({
			el: '#form1',
			data: form_data,
			methods: {
				place_order: function (event) {
					//alert('wow')
					console.log(event)
					frappe.call({
						method:"ipbxmanager.api.add_company",
						args: form_data,
						callback: function(r) { 
							console.log(r);
							if(r.message == true){
								alert('Order placed');
							}
						}
					})
				}
			},
			watch: {
				company_name: function(old,newd) {
					//this.debouncedGetAnswer()
					this.domain = this.company_name.replace(/\s+/g, '-').toLowerCase();
				}
			},
			created: function () {
				// _.debounce is a function provided by lodash to limit how
				// often a particularly expensive operation can be run.
				// In this case, we want to limit how often we access
				// yesno.wtf/api, waiting until the user has completely
				// finished typing before making the ajax request. To learn
				// more about the _.debounce function (and its cousin
				// _.throttle), visit: https://lodash.com/docs#debounce
// 				this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
			}
		})
	}
</script>
<form id='form1'>
	<div class="form-group has-success has-feedback">
		<label>Enter your Name</label>
		<input type="text" class="form-control" v-model='contact_name' id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Your Name">
	</div>
	
	<div class="form-group has-success has-feedback">
		<label>Your Email Address</label>
		<input type="email" class="form-control" v-model='contact_email' id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Email">
	</div>
	
	<div class="form-group has-success has-feedback">
		<label>Enter your Company Name</label>
		<input type="text" class="form-control" v-model='company_name' id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Company Name">
	</div>
	
	<div class="form-group has-success has-feedback">
		<label>Enter your Company BRN</label>
		<input type="text" class="form-control" v-model='company_brn' id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Company BRN">
	</div>

	<div>
		<label>Do you wish to use your own domain name?</label>
		<div class="radio">
			<label><input type="radio" name="customdomain" v-model="custom_domain" value='no' id='no'>No</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="customdomain" v-model="custom_domain" value='yes' id='yes'>Yes</label>
		</div>
		
	</div>
	
	<label>Choose your domain name</label>
	<div class="form-group has-success has-feedback" v-if='custom_domain == "yes"'>
		<label class="control-label sr-only" for="inputSuccess5">Hidden label</label>
		<input type="text" class="form-control" v-model='domain' id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="yourcompany.com">
		<span v-if='domain != ""'>
		<br/>
		Please point {{domain}} to our name servers as follows:
		<br/>
			<code>
			{{domain}}. IN NS ns1.joolfoo.com
			</code>
		</span>
	</div>
	
	<div class="form-group has-success" v-if='custom_domain == "no"'>
		<label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
		<div class="input-group">
			<input type="text" class="form-control" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status" v-model='domain' placeholder="yourcompany">
			<span class="input-group-addon" >.pbx.jooolfoo.com</span>
		</div>
		<span id="inputGroupSuccess4Status" class="sr-only">(success)</span>
	</div>
	

	<div class="text-center">
		<button type="button" class="btn btn-default btn-primary" aria-label="Left Align" @click='place_order'>Place Order</button>
	</div>

</form>
