<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<script>
	var vm;
	var companies = ['fdss']
	function dynamicPropsFn (route) {
		const now = new Date()
		return {
			name: (now.getFullYear() + parseInt(route.params.years)) + '!'
		}
	}

	
	Vue.component('list-company', {
		props: ['company'],
		template: '<div>\
			<h1>{% raw %}{{company.name}}{% endraw %}</h1>\
			<ul class="nav nav-tabs">\
						<li><router-link v-bind:to="\'/\' + company.name">Company Details</router-link><</li>\
						<li><router-link v-bind:to="\'/\' + company.name + \'/users\'">Users</router-link></li>\
						<li>Groups</li>\
						<li>VR</li>\
						<li>PBX Settings</li>\
						<li><router-link v-bind:to="\'/\' + company.name"><span class="glyphicon glyphicon-cog"></span></router-link></li>\
					</ul>\
				</nav>\
		<div class="form-group has-success has-feedback">\
			<label>Enter your Name</label>\
			{% raw %}{{company.company_name}}{% endraw %}\
			<input type="text" class="form-control" v-model=\'company.company_name\' id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Your Name">\
		</div></div>'
	})
	
	Vue.component('list-companies', {
		props: ['companies'],
		template: '<div><br/><table class="table table-striped">\
			<thead>\
				<tr>\
					<th>SIP Domain</th>\
					<th>Company Name</th>\
					<th>Company BRN</th>\
					<th>Status</th>\
					<th>Actions</th>\
				</tr>\
			</thead>\
			<tbody>\
				<tr v-for="company in companies">\
					<td>{% raw %}{{company.name}}{% endraw %}</td>\
					<td>{% raw %}{{company.company_name}}{% endraw %}</td>\
					<td>{% raw %}{{company.company_brn}}{% endraw %}</td>\
					<td>{% raw %}Active{% endraw %}</td>\
					<td><button class="btn btn-success"><span class="glyphicon glyphicon-euro"></span> (20)</button> <router-link v-bind:to="\'/\' + company.name"><button class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button></router-link></td>\
				</tr>\
			</tbody>\
			</table><center><a href="/orderipbx"  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a></center></div>'
	})
	
	window.onload = function() {
	
		const ListIPBX = { 	
			template: '<list-companies v-bind:companies="companies"></list-companies>',
			data () {
				return {
					companies: []
				}
			},
			created () {
				ziss = this
				frappe.call({
					method:"ipbxmanager.api.get_companies",
					type: 'GET',
					callback: function(r) { 
						console.log(r);
						ziss.companies = r.message
					}
				})
			}
		}
		const SingleIPBX = { 
			template: '<list-company v-bind:company="company"></list-company>',
			data () {
					return {
						company: {}
					}
				},
				created () {
					ziss = this
					frappe.call({
						method:"ipbxmanager.api.get_company",
						args: {
							company_name: this.$route.params.id
						},
						type: 'GET',
						callback: function(r) { 
							console.log(r);
							ziss.company = r.message
						}
					})
			}
		}

		// 2. Define some routes
		// Each route should map to a component. The "component" can
		// either be an actual component constructor created via
		// `Vue.extend()`, or just a component options object.
		// We'll talk about nested routes later.
		const routes = [
			{ path: '/', component: ListIPBX },
			{ path: '/:id', component: SingleIPBX },
			{ path: '/:id/users', component: SingleIPBX }
		]

		// 3. Create the router instance and pass the `routes` option
		// You can pass in additional options here, but let's
		// keep it simple for now.
		const router = new VueRouter({
		routes // short for `routes: routes`
		})

		// 4. Create and mount the root instance.
		// Make sure to inject the router with the router option to make the
		// whole app router-aware.
		vm = new Vue({
			router,
			data: {companies: companies}
		}).$mount('#app')
	}
</script>

<div class="page-container" id="app" 
   data-path="website-with-sidebar" data-doctype="Web Page">
  <div class="sidebar-block">
    <div class="web-sidebar">
      <div class="sidebar-items">
        <ul class="list-unstyled">	
						<li class="sidebar-item">
              <a href="/orderipbx">Order IPBX</a>
            </li>	
            <li class="sidebar-item">
              <a href="/ipbx">View IPBX Services</a>
            </li>	
          <li class="sidebar-item">
            <router-link to="/">List IPBXs</router-link>
          </li>	
<!--          <li>
						<router-link to="/bar">Go to Bar</router-link>
          </li>-->
            <li class="sidebar-item">
              <a href="/me">My Account</a>
            </li>	
          </ul>
        </div>
      </div> 
    </div>
    <div class="page-content with-sidebar">
      <div class="page-content-wrapper">
        <div class="row page-head">
          <div class='col-sm-12'></div>
							<div>
								<router-view></router-view>
							</div>
          </div>
        </div>
      </div>
      <!-- sidebar ends -->
    </div>
  </div>
</div> 
