<script src="/assets/js/vue.js"></script>
<script src="/assets/js/vue-router.js"></script>
<title>IPBX</title>
<style>
		.panel.price,
		.panel.price>.panel-heading{
			border-radius:0px;
			 -moz-transition: all .3s ease;
			-o-transition:  all .3s ease;
			-webkit-transition:  all .3s ease;
		}
		.panel.price:hover{
			box-shadow: 0px 0px 30px rgba(0,0,0, .2);
		}
		.panel.price:hover>.panel-heading{
			box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
		}
		
				
		.panel.price>.panel-heading{
			box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
			text-shadow:0px 3px 0px rgba(50,50,50, .6);
		}
			
		.price .list-group-item{
			border-bottom-:1px solid rgba(250,250,250, .5);
		}
		
		.panel.price .list-group-item:last-child {
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		.panel.price .list-group-item:first-child {
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
		}
		
		.price .panel-footer {
			color: #fff;
			border-bottom:0px;
			background-color:  rgba(0,0,0, .1);
			box-shadow: 0px 3px 0px rgba(0,0,0, .3);
		}
		
		
		.panel.price .btn{
			box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
			border:0px;
		}
		
	/* green panel */
	
		
		.price.panel-green>.panel-heading {
			color: #fff;
			background-color: #57AC57;
			border-color: #71DF71;
			border-bottom: 1px solid #71DF71;
		}
		
			
		.price.panel-green>.panel-body {
			color: #fff;
			background-color: #65C965;
		}
				
		
		.price.panel-green>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-green .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* blue panel */
	
		
		.price.panel-blue>.panel-heading {
			color: #fff;
			background-color: #608BB4;
			border-color: #78AEE1;
			border-bottom: 1px solid #78AEE1;
		}
		
			
		.price.panel-blue>.panel-body {
			color: #fff;
			background-color: #73A3D4;
		}
				
		
		.price.panel-blue>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-blue .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* red price */
		
	
		.price.panel-red>.panel-heading {
			color: #fff;
			background-color: #D04E50;
			border-color: #FF6062;
			border-bottom: 1px solid #FF6062;
		}
		
			
		.price.panel-red>.panel-body {
			color: #fff;
			background-color: #EF5A5C;
		}
		
		
		
		
		.price.panel-red>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-red .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* grey price */
		
	
		.price.panel-grey>.panel-heading {
			color: #fff;
			background-color: #6D6D6D;
			border-color: #B7B7B7;
			border-bottom: 1px solid #B7B7B7;
		}
		
			
		.price.panel-grey>.panel-body {
			color: #fff;
			background-color: #808080;
		}
		

		
		.price.panel-grey>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-grey .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* white price */
		
	
		.price.panel-white>.panel-heading {
			color: #333;
			background-color: #f9f9f9;
			border-color: #ccc;
			border-bottom: 1px solid #ccc;
			text-shadow: 0px 2px 0px rgba(250,250,250, .7);
		}
		
		.panel.panel-white.price:hover>.panel-heading{
			box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
		}
			
		.price.panel-white>.panel-body {
			color: #fff;
			background-color: #dfdfdf;
		}
				
		.price.panel-white>.panel-body .lead{
				text-shadow: 0px 2px 0px rgba(250,250,250, .8);
				color:#666;
		}
		
		.price:hover.panel-white>.panel-body .lead{
				text-shadow: 0px 2px 0px rgba(250,250,250, .9);
				color:#333;
		}
		
		.price.panel-white .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
</style>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<script>
	var vm;
	var companies = []
	
	var remove_item_from_list = function(name,arr){
		for(var i = 0; i <= arr.length; i++) {
			if(arr[i].name == name){
				arr.splice(i,1)
				return
			}
		}
	}
	
	index = Vue.component('index', {
		data: function () {return {}},
		template: '<div><h1>Welcome To Uom Cloud Services</h1>\
			<pricing-table></pricing-table>\
		</div>'
	})
	
	
	pricing_cards = Vue.component('pricing-table',{
		template: '<div class="row">\
						<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">\
					<!-- PRICE ITEM -->\
					<div class="panel price panel-green">\
						<div class="panel-heading arrow_box text-center">\
						<h3>IPBX Basic</h3>\
						</div>\
						<div class="panel-body text-center">\
							<p class="lead" style="font-size:40px"><strong>Rs 2500 / month</strong></p>\
						</div>\
						<ul class="list-group list-group-flush text-center">\
							<li class="list-group-item"><i class="icon-ok text-success"></i>No of SIP Accounts: 5</li>\
							<li class="list-group-item"><i class="icon-ok text-success"></i>No of SIP Groups: 5</li>\
							<li class="list-group-item"><i class="icon-ok text-success"></i>Use custom domain: Yes</li>\
						</ul>\
						<div class="panel-footer">\
							<router-link to="/ipbx/order"><a class="btn btn-lg btn-block btn-success" href="#">ORDER NOW!</a></router-link>\
						</div>\
					</div>\
					<!-- /PRICE ITEM -->\
				</div>\
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">\
					<!-- PRICE ITEM -->\
					<div class="panel price panel-blue">\
						<div class="panel-heading arrow_box text-center">\
						<h3>IPBX Entreprise</h3>\
						</div>\
						<div class="panel-body text-center">\
							<p class="lead" style="font-size:40px"><strong>Rs 5000 / month</strong></p>\
						</div>\
						<ul class="list-group list-group-flush text-center">\
							<li class="list-group-item"><i class="icon-ok text-success"></i>No of SIP Accounts: 15</li>\
							<li class="list-group-item"><i class="icon-ok text-success"></i>No of SIP Groups: 15</li>\
							<li class="list-group-item"><i class="icon-ok text-success"></i>Use custom domain: Yes</li>\
						</ul>\
						<div class="panel-footer">\
							<router-link to="/ipbx/order"><a class="btn btn-lg btn-block btn-info" href="#">ORDER NOW!</a></router-link>\
						</div>\
					</div>\
					<!-- /PRICE ITEM -->\
				</div>\
			</div>'
	})
	
	company_add_form = Vue.component('company-add-form', {
		data: function () {
			return {
				custom_domain: 'no',
				domain : '',
				company_name: '',
				company_brn: '',
				contact_email: '',
				contact_name: '',
				contact_position: '',
				company_website: ''
			}
		},
		watch: {
				company_name: function(old,newd) {
					this.domain = this.company_name.replace(/\s+/g, '-').toLowerCase();
				}
		},
		methods: {
			place_order: function (event) {
					//alert('wow')
					console.log(event)
					var ziss=this
					console.log(ziss)
					frappe.call({
						method:"ipbxmanager.api.add_company",
						args: ziss.$data,
						callback: function(r) { 
							console.log(r);
							if(r.message == true){
								alert('Order placed');
							}
						}
					})
				}
		},
		template: '<form id="form1">\
	<div class="form-group has-success has-feedback">\
		<label>Enter your Name</label>\
		<input type="text" class="form-control" v-model="contact_name" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Your Name">\
	</div>\
	\
	<div class="form-group has-success has-feedback">\
		<label>Your Email Address</label>\
		<input type="email" class="form-control" v-model="contact_email" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Email">\
	</div>\
	\
	<div class="form-group has-success has-feedback">\
		<label>Enter your Company Name</label>\
		<input type="text" class="form-control" v-model="company_name" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Company Name">\
	</div>\
	\
	<div class="form-group has-success has-feedback">\
		<label>Enter your Company BRN</label>\
		<input type="text" class="form-control" v-model="company_brn" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Company BRN">\
	</div>\
	\
	<div class="form-group has-success has-feedback">\
		<label>Your position at the company</label>\
		<input type="text" class="form-control" v-model="contact_position" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Your position at the company">\
	</div>\
	\
	<div class="form-group has-success has-feedback">\
		<label>Company Website</label>\
		<input type="text" class="form-control" v-model="company_website" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="Your position at the company">\
	</div>\
\
	<div>\
		<label>Do you wish to use your own domain name?</label>\
		<div class="radio">\
			<label><input type="radio" name="customdomain" v-model="custom_domain" value="no" id="no">No</label>\
		</div>\
		<div class="radio">\
			<label><input type="radio" name="customdomain" v-model="custom_domain" value="yes" id="yes">Yes</label>\
		</div>\
		\
	</div>\
	\
	<label>Choose your domain name</label>\
	<div class="form-group has-success has-feedback" v-if=\'custom_domain == "yes"\'>\
		<label class="control-label sr-only" for="inputSuccess5">Hidden label</label>\
		<input type="text" class="form-control" v-model="domain" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="yourcompany.com">\
		<span v-if=\'domain != ""\'>\
		<br/>\
		Please point {{domain}} to our name servers as follows:\
		<br/>\
			<code>\
			{{domain}}. IN NS ns1.joolfoo.com\
			</code>\
		</span>\
	</div>\
	\
	<div class="form-group has-success" v-if=\'custom_domain == "no"\'>\
		<label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>\
		<div class="input-group">\
			<input type="text" class="form-control" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status" v-model="domain" placeholder="yourcompany">\
			<span class="input-group-addon" >.pbx.jooolfoo.com</span>\
		</div>\
		<span id="inputGroupSuccess4Status" class="sr-only">(success)</span>\
	</div>\
	\
\
	<div class="text-center">\
		<button type="button" class="btn btn-default btn-primary" aria-label="Left Align" @click="place_order">Place Order</button>\
	</div>\
\
</form>'
	})
	
	Vue.component('view-company', {
		props : ['company'],
		template: '<div>\
		<div>\
			<div><br/><table class="table table-striped">\
			<tbody>\
				<tr>\
					<td>\
						Package\
					</td>\
					<td>\
						Free Trial <button class="btn btn-primary">Upgrade</button>\
					</td>\
				</tr>\
				<tr><td>No of SIP Accounts</td><td>2/{% raw %}{{company.limit_sip_users}}{% endraw %}</td></tr>\
				<tr><td>No of SIP Groups</td><td>2/{% raw %}{{company.limit_sip_groups}}{% endraw %}</td></tr>\
				<tr>\
					<td>\
						SIP Domain\
					</td>\
					<td>\
						{% raw %}{{company.name}}{% endraw %}\
					</td>\
				</tr>\
				<tr>\
					<td>\
						Company Name\
					</td>\
					<td>\
						{% raw %}{{company.company_name}}{% endraw %}\
					</td>\
				</tr>\
				<tr><td>Company BRN</td><td>{% raw %}{{company.company_brn}}{% endraw %}</td></tr>\
				<tr><td>Contact Name</td><td>{% raw %}{{company.contact_name}}{% endraw %}</td></tr>\
				<tr><td>Contact Email</td><td>{% raw %}{{company.contact_email}}{% endraw %}</td></tr>\
				<tr><td>Contact Telephone</td><td>{% raw %}{{company.contact_tel}}{% endraw %}</td></tr>\
			</tbody>\
			</table>\
</div>\
			</div>\
		</div>'
	})
	
	Vue.component('user-add-modal', {
		data: function() {
			return {
				start_uid: 1000,
				end_uid: 1001,
				groups: []
			}
		},
		props: ['users'],
		created () {
				ziss = this
				frappe.call({
					method:"ipbxmanager.api.get_groups",
					type: 'GET',
					args: {
						company_name: this.$route.params.id
					},
					callback: function(r) { 
						console.log(r);
						ziss.groups = r.message
					}
				})
		},
		methods: {
			add_users: function() {
				var ziss = this;
				frappe.call({
					method:"ipbxmanager.api.add_users",
					type: 'POST',
					freeze: true,
					freeze_message: "Please wait ..",
					args: {
						sip_domain: this.$route.params.id,
						start_uid: ziss.start_uid,
						end_uid: ziss.end_uid
					},
					callback: function(r) { 
						for(var i = 0; i < r.message.length;i++){
							ziss.users.push(r.message[i])
						}
					}
				})
			}
		},
		template: '<!-- Modal -->\
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">\
  <div class="modal-dialog" role="document">\
    <div class="modal-content">\
      <div class="modal-header">\
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
        <h4 class="modal-title" id="myModalLabel">Add Users</h4>\
      </div>\
      <div class="modal-body">\
				<div class="form-group has-success has-feedback">\
					<label>Start User ID</label>\
					<input type="text" class="form-control" v-model="start_uid" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="">\
				</div>\
				<div class="form-group has-success has-feedback">\
					<label>End User ID</label>\
					<input type="text" class="form-control" v-model="end_uid" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="">\
				</div>\
				<div class="form-group has-success has-feedback">\
					<label>Groups</label>\
					<ul><li v-for="group in groups">\
						{% raw %}{{ group.group_name }} ({{ group.sip_extension }}){% endraw %} <input type="checkbox" name="groups[]" v-bind:value="group.name"/>\
					</li></ul>\
				</div>\
      </div>\
      <div class="modal-footer">\
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>\
        <button type="button" class="btn btn-primary" @click="add_users" data-dismiss="modal">Save changes</button>\
      </div>\
    </div>\
  </div>\
</div>'
	})
	
		Vue.component('group-add-modal', {
		data: function() {
			return {
				group_name: '',
				sip_extension: ''
			}
		},
		props: ['groups'],
		methods: {
			add_group: function() {
				console.log(event)
					var ziss=this
					console.log(ziss)
					frappe.call({
						method:"ipbxmanager.api.add_group",
						args: {
							sip_domain: this.$route.params.id,
							group_name: ziss.group_name,
							sip_extension: ziss.sip_extension
						},
						callback: function(r) { 
							console.log(r);
							if(r.message.hasOwnProperty('name')){
								ziss.groups.push(r.message)
							}
						}
					})
			}
		},
		template: '<!-- Modal -->\
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">\
  <div class="modal-dialog" role="document">\
    <div class="modal-content">\
      <div class="modal-header">\
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
        <h4 class="modal-title" id="myModalLabel">Add Group</h4>\
      </div>\
      <div class="modal-body">\
				<div class="form-group has-success has-feedback">\
					<label>Group Name</label>\
					<input type="text" class="form-control" v-model="group_name" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="">\
				</div>\
				<div class="form-group has-success has-feedback">\
					<label>Extension</label>\
					<input type="text" class="form-control" v-model="sip_extension" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="">\
				</div>\
      </div>\
      <div class="modal-footer">\
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>\
        <button type="button" class="btn btn-primary" @click="add_group" data-dismiss="modal">Save changes</button>\
      </div>\
    </div>\
  </div>\
</div>'
	})
	
	Vue.component('list-company', {
		props: ['company'],
		template: '<div>\
			<h1>{% raw %}{{company.name}}{% endraw %}</h1>\
			<ul class="nav nav-tabs">\
						<li><router-link v-bind:to="\'/ipbx/\' + company.name"><span class="glyphicon glyphicon-info-sign"> Company Details </span></router-link></li>\
						<li><router-link v-bind:to="\'/ipbx/\' + company.name + \'/users\'"><span class="glyphicon glyphicon-user"> Users </span></router-link></li>\
						<li><router-link v-bind:to="\'/ipbx/\' + company.name + \'/groups\'"><span class="glyphicon glyphicon-list-alt"> Groups </span></router-link></li>\
						<li><router-link v-bind:to="\'/ipbx/\' + company.name + \'/ivrs\'"><span class="glyphicon glyphicon-random">  IVR </span></router-link></li>\
						<li><router-link v-bind:to="\'/ipbx/\' + company.name + \'/settings\'"><span class="glyphicon glyphicon-cog"> Settings </span></router-link></li>\
					</ul>\
				</nav>\
			<router-view></router-view>\
			<view-company v-bind:company="company" v-if="$route.path.match(/^\\/ipbx\\/[^\\/]*$/)"></view-company>\
		</div>'
	})
	
	PageUnderConstruction = {
		template: '<div class="alert alert-warning" role="alert"><span>This page is under construction</span></div>'
	}
	
	Vue.component('list-companies', {
		props: ['companies'],
		template: '<div><br/><table class="table table-striped">\
			<thead>\
				<tr>\
					<th>SIP Domain</th>\
					<th>Company Name</th>\
					<th>Company BRN</th>\
					<th>Contact Details</th>\
					<th>Status</th>\
					<th>Actions</th>\
				</tr>\
			</thead>\
			<tbody>\
				<tr v-for="company in companies">\
					<td>{% raw %}{{company.name}}{% endraw %}</td>\
					<td>{% raw %}{{company.company_name}}{% endraw %}</td>\
					<td>{% raw %}{{company.company_brn}}{% endraw %}</td>\
					<td>{% raw %}{{company.contact_name}}<br/>{{company.contact_email}}<br/>{{company.contact_tel}}{% endraw %}</td>\
					<td>{% raw %}Active{% endraw %}</td>\
					<td> <router-link v-bind:to="\'/ipbx/\' + company.name"><button class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button></router-link></td>\
				</tr>\
			</tbody>\
			</table><center><router-link to="/ipbx/order"><span class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></span></router-link></center></div>'
	})
	
	window.onload = function() {
	
		const ListIPBX = { 	
			template: '<list-companies v-bind:companies="companies"></list-companies>',
			data () {
				return {
					companies: []
				}
			},
			created () {
				ziss = this
				frappe.call({
					method:"ipbxmanager.api.get_companies",
					type: 'GET',
					callback: function(r) { 
						console.log(r);
						ziss.companies = r.message
					}
				})
			}
		}
		const SingleIPBX = { 
			template: '<list-company v-if="loaded" v-bind:company="company"></list-company>',
			data () {
					return {
						company: {},
						loaded: false
					}
				},
				created () {
					ziss = this
					frappe.call({
						method:"ipbxmanager.api.get_company",
						args: {
							company_name: this.$route.params.id
						},
						type: 'GET',
						callback: function(r) { 
							console.log(r);
							ziss.company = r.message
							ziss.loaded = true
						}
					})
			}
		}
		
		const UserList = {
			template: '<div>\
			<div><br/><table class="table table-striped">\
			<thead>\
				<tr>\
					<th>User ID</th>\
					<th>Extension</th>\
					<th>Actions</th>\
				</tr>\
			</thead>\
			<tbody>\
				<tr v-for="user in users">\
					<td>{% raw %}{{user.name}}{% endraw %}</td>\
					<td>{% raw %}{{user.sip_user_id}}{% endraw %}</td>\
					<td>\
						<!--<button class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button>-->\
						<button class="btn btn-danger" @click="delete_user(user.name)"><span class="glyphicon glyphicon glyphicon-minus"></span></button>\
					</td>\
				</tr>\
			</tbody>\
			</table><center><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></a></center>\
			<!-- Button trigger modal -->\
			<user-add-modal v-bind:users="users"></user-add-modal>\
</div>\
			</div>',
			data () {
					return {
						users: []
					}
				},
				created () {
					var ziss = this
					frappe.call({
						method:"ipbxmanager.api.get_users",
						args: {
							company_name: this.$route.params.id
						},
						type: 'GET',
						callback: function(r) { 
							console.log(r);
							ziss.users = r.message
						}
					})
			},
			methods: {
				delete_user: function(name) {
					var ziss = this
					frappe.call({
						method:"ipbxmanager.api.delete_sip_user",
						args: {
							company_name: this.$route.params.id,
							sip_user: name
						},
						type: 'DELETE',
						callback: function(r) { 
// 							console.log(r)
// 							
							remove_item_from_list(name,ziss.users)
						}
					})
				}
			}
		}
		
		const GroupList = {
			template: '<div>\
			<div><br/><table class="table table-striped">\
			<thead>\
				<tr>\
					<th>Group ID</th>\
					<th>Extension</th>\
					<th>Actions</th>\
				</tr>\
			</thead>\
			<tbody>\
				<tr v-for="item in groups">\
					<td>{% raw %}{{item.name}}{% endraw %}</td>\
					<td>{% raw %}{{item.group_name}}{% endraw %}</td>\
					<td>{% raw %}{{item.sip_extension}}{% endraw %}</td>\
					<td>\
						<!--<button class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button>-->\
						<button class="btn btn-danger" @click="delete_group(item.name)"><span class="glyphicon glyphicon glyphicon-minus"></span></button>\
					</td>\
				</tr>\
			</tbody>\
			</table><center><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></a></center>\
			<!-- Button trigger modal -->\
			<group-add-modal v-bind:groups="groups"></group-add-modal>\
</div>\
			</div>',
			data () {
					return {
						groups: []
					}
				},
				created () {
					var ziss = this
					frappe.call({
						method:"ipbxmanager.api.get_groups",
						args: {
							company_name: this.$route.params.id
						},
						type: 'GET',
						callback: function(r) { 
							console.log(r);
							ziss.groups = r.message
						}
					})
			},
			methods: {
				delete_group: function(name) {
					var ziss = this
					frappe.call({
						method:"ipbxmanager.api.delete_sip_group",
						args: {
							company_name: this.$route.params.id,
							sip_group: name
						},
						type: 'DELETE',
						callback: function(r) { 
							console.log(r)
							remove_item_from_list(name,ziss.groups)
						}
					})
				}
			}
		}

		// 2. Define some routes
		// Each route should map to a component. The "component" can
		// either be an actual component constructor created via
		// `Vue.extend()`, or just a component options object.
		// We'll talk about nested routes later.
		
// 		, redirect: to => { 
// 				const { hash, params, query } = to
// 				return '/'+params.id+'/details'}
		
		const routes = [
			{ path: '/', component: index , meta: {title: 'IPBX'}},
			{ path: '/ipbx', component: ListIPBX,meta: {title: 'IPBX'}},
			{ path: '/ipbx/order', component: company_add_form },
			{ path: '/ipbx/:id', component: SingleIPBX,
				children: [
					{
						path: 'users',
						component: UserList
					},
					{
						path: 'groups',
						component: GroupList
					},
					{
						path: 'details',
						alias: ''
					},
					{
						path: 'ivrs',
						component: PageUnderConstruction
					},
					{
						path: 'settings',
						component: PageUnderConstruction
					}
				]
			}
		]

		// 3. Create the router instance and pass the `routes` option
		// You can pass in additional options here, but let's
		// keep it simple for now.
		const router = new VueRouter({
		routes // short for `routes: routes`
		})

		// 4. Create and mount the root instance.
		// Make sure to inject the router with the router option to make the
		// whole app router-aware.
		vm = new Vue({
			router,
			data: {companies: companies}
		}).$mount('#app')
	}
</script>

<div class="page-container" id="app" 
   data-path="website-with-sidebar" data-doctype="Web Page">
  <div class="sidebar-block">
    <div class="web-sidebar">
      <div class="sidebar-items">
        <ul class="list-unstyled">	
            <li>
							<router-link to="/ipbx/order">Order IPBX</router-link>
						</li>	
						<li>
							<router-link to="/ipbx/">View IPBX Services</router-link>
						</li>
            <li class="sidebar-item">
              <a href="/me">My Account</a>
            </li>	
          </ul>
        </div>
      </div> 
    </div>
    <div class="page-content with-sidebar">
      <div class="page-content-wrapper">
        <div class="row page-head">
          <div class='col-sm-12'></div>
							<div>
								<router-view></router-view>
							</div>
          </div>
        </div>
      </div>
      <!-- sidebar ends -->
    </div>
  </div>
</div> 
