<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<script>
	var vm;
	console.log('hoho');
	//import Vue from 'vue';
	
	form_data = 
	
	window.onload = function() {
		vm = new Vue({
			el: '#form1',
			data: form_data,
			methods: {
				place_order: function (event) {
					//alert('wow')
					console.log(event)
					frappe.call({
						method:"ipbxmanager.api.add_company",
						args: form_data,
						callback: function(r) { 
							console.log(r);
							if(r.message == true){
								alert('Order placed');
							}
						}
					})
				}
			},
			watch: {
				company_name: function(old,newd) {
					//this.debouncedGetAnswer()
					this.domain = this.company_name.replace(/\s+/g, '-').toLowerCase();
				}
			},
			created: function () {
				// _.debounce is a function provided by lodash to limit how
				// often a particularly expensive operation can be run.
				// In this case, we want to limit how often we access
				// yesno.wtf/api, waiting until the user has completely
				// finished typing before making the ajax request. To learn
				// more about the _.debounce function (and its cousin
				// _.throttle), visit: https://lodash.com/docs#debounce
// 				this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
			}
		})
	}
</script>
<div class="page-container" id="app" 
   data-path="website-with-sidebar" data-doctype="Web Page">
  <div class="sidebar-block">
    <div class="web-sidebar">
      <div class="sidebar-items">
        <ul class="list-unstyled">	
						<li class="sidebar-item">
              <a href="/orderipbx">Order IPBX</a>
            </li>	
            <li class="sidebar-item">
              <a href="/ipbx">View IPBX Services</a>
            </li>	
<!--          <li class="sidebar-item">
            <router-link to="/foo">Go to Foo</router-link>
          </li>	
          <li>
						<router-link to="/bar">Go to Bar</router-link>
          </li>-->
            <li class="sidebar-item">
              <a href="/me">My Account</a>
            </li>	
          </ul>
        </div>
      </div> 
    </div>
    <div class="page-content with-sidebar">
      <div class="page-content-wrapper">
        <div class="row page-head">
          <div class='col-sm-12'></div>



</div>

        </div>
        <div class="page_content">
          <div class="webpage-content">
            <article class="web-page-content" id="website-with-sidebar" style="text-align: Left">
            </article>
          </div>
        </div>
      </div>
      <!-- sidebar ends -->
    </div>
  </div>
</div> 

